<form class="form-signin" action="/article">
  <h2 class="form-signin-heading">Add Article</h2>
  <label for="inputTitle" class="sr-only">Titre</label>
  <input type="text" id="inputTitle" name="title" class="form-control" placeholder="Title" required autofocus>
  <label for="inputContent" class="sr-only">Content</label>
  <textarea name="content" id="inputContent"></textarea>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
</form>